*
{
    padding : 0px;
    margin: 0px !important;
}
@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100%{
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}
h2
{
    text-align: center;
}
.spin::before
{
    animation: 1.5s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 5px white;
    border-bottom-color: black;
    border-radius: 50%;
    content: "";
    height: 30px;
    width: 30px;
    position: absolute;
    bottom: 46%;
    right: 30%;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
}
form
{
    border: black 2px solid;
    border-radius: 20px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}
footer
{
    margin-right: 10%;
    background-color: violet;
    text-align: center;
}